@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {

    --fonte-padrao: Arial, Helvetica, sans-serif;

    --fonte-destaque: 'Passion One', cursive;

    --fonte-corpo: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    font-family: var(--fonte-corpo);
}

header {
    font-family: var(--fonte-destaque);
    margin: 0px auto 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 3em;
}

section {
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

section p {
    width: 180px;
    margin-bottom: 20px;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

section.imagem p {
    color: white;
    background-color: rgba(0, 0, 0, 0.313);
    padding: 10px;
}

section.imagem {
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.549);
}

section#img2 {
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    font-family: var(--fonte-padrao);
    color: white;
    background-color: black;
    text-align: center;
}

footer p {
    padding: 7px;
    font-weight: bold;
}